/* SMALL */

/* MEDIUM */
@media screen and (min-width:600px) {
}

/* LARGE */
@media screen and (min-width:840px) {
    .search {
        flex-direction: row;
    }

    .search .popular-word-container {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
        margin: 0;
        flex-basis: 60%;
    }

    .search .popular-word-container .more-link {
        position: relative;
        right: -20px;
    }

    .editor {
        flex-direction: row;
    }

    .stickers-container .stickers img {
        max-width: 80px;
    }

    .stickers-container .stickers {
        height: auto;
    }
}