.page-heading {
    background-color: var(--primary-clr);
}

.page-heading .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-clr);
    
}

.page-heading .logo span {
    color: rgb(255, 255, 255);
}

.page-heading .nav .nav-item {
    font-size: 1.3rem;
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: var(--secondary-clr);
    transition: all 0.3s;
}

.page-heading .nav .nav-item:hover {
    box-shadow: inset 0 -2px var(--secondary-clr);
    color: white;
}