.search {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    height: fit-content;
}

.search form {
    position: relative;
}
.search .search-bar {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
}

.search form .search-btn {
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}

.search .popular-word-container {
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    max-height: 40px;
    padding-top: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.search .popular-word-container .words {
    grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
    justify-items: center;
    column-gap: 60px;
    row-gap: 10px;
    align-self: flex-start;
    width: 80%;
}

.search .popular-word-container .word {
    cursor: pointer;
    font-size: 5rem;
}

.search .popular-word-container .more-link {
    margin-inline-start: 1rem;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
    position: absolute;
    right: 0;
    bottom: -5px;
}