* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    background-color: var(--back-clr);
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

input[type=color]{
	width: 20px;
	height: 20px;
	border: none;
	background: none;
    padding: 0;
    
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

*:disabled {
    opacity: 0.5;
    cursor:not-allowed;
}