.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.btn {
    border: 0;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-clr);
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: white;
}