/* FLEX */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;

}

.gap10 {
    gap: 10px
}

/* GRID */
.grid {
    display: grid;
}

/* LISTS */
.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* BUTTONS */

.btn {
    border: 0;
    padding: 0.5rem 1rem;
    background-color: var(--primary-clr);
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}

.empty-btn {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* MISC */

.hidden {
    display: none;
}

.flip {
    transform: rotate(180deg);
}